
@{
    ViewData["Title"] = "Index";
}

<h1>СМИ</h1>

<div class="container">
    
    <h4>Справочники</h4>
    <div>
        <a asp-area="Media" asp-controller="DictMediaTypes" asp-action="Index">Виды </a>
    </div>

</div>

