
@{
    ViewData["Title"] = "Index";
}

<h3>Департамент информации и массовых коммуникаций</h3>
<hr />
<br />
<div class="container">

    <div class="btn">
        <a asp-area="Media" asp-controller="ListOfMedias" asp-action="Index">Реестр средств массовой информации</a>
    </div>

    <div class="btn">
        <a asp-area="Media" asp-controller="ListOfControlMedias" asp-action="Index">Проверки СМИ и вынесенные решения</a>
    </div>

    <br />
    <br />


    <h6 class="text-secondary">Справочники</h6>

    <div class="btn">
        <a asp-area="Media" asp-controller="DictMediaTypes" asp-action="Index">Виды СМИ</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictLegalForms" asp-action="Index">Организационно-правовые формы </a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictDistribTerritoryMedias" asp-action="Index">Территории распределения продукции</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictLangMediaTypes" asp-action="Index">Языки вещания</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictMediaFreqReleases" asp-action="Index">Периодичности выпуска</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictMediaFinSources" asp-action="Index">Источники финансирования </a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictAgencyPerms" asp-action="Index">Органы выдающие разрешение</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictControlTypes" asp-action="Index">Виды проверок</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictMediaControlResults" asp-action="Index">Результаты проверок</a>
    </div>
    <div class="btn">
        <a asp-area="Media" asp-controller="DictMediaSuitPerms" asp-action="Index">Судебные решения</a>
    </div>
</div>

