
@{
    ViewData["Title"] = "Index";
}

<h1>СМИ</h1>

<div class="container">

    <h4>Справочники</h4>
    <div>
        <a asp-area="Media" asp-controller="DictMediaTypes" asp-action="Index">Виды СМИ</a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictLegalForms" asp-action="Index">Организационно-правовая форма </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictLangMediaTypes" asp-action="Index">Язык вещания </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictRegions" asp-action="Index">Регионы </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictDistricts" asp-action="Index">Районы </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictMediaFreqReleases" asp-action="Index">Периодичность выпуска </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="DictMediaFinSources" asp-action="Index">Источник финансирования </a>
    </div>
    <div>
        <a asp-area="Media" asp-controller="" asp-action="Index"> </a>
    </div>
</div>

