
@{
    ViewData["Title"] = "Index";
}

<h1>Общие справочники</h1>
<br />
<div class="container">

    <h2>Справочники</h2>
    <br />

    <div>
        <a asp-area="GlobalDicts" asp-controller="DictRegions" asp-action="Index">Регионы</a>
    </div>
    <div>
        <a asp-area="GlobalDicts" asp-controller="DictDistricts" asp-action="Index">Районы</a>
    </div>
</div>

