    
@{
    ViewData["Title"] = "InfoUchastieKonkurs";
}

    <h1>
        Информации о перечне документов на участие в творческих конкурсах на производство национальных фильмов, продвижение фильмов, кандидатуры режиссеров-постановщиков
    </h1>

    <p>
        Порядок и условия участия в конкурсе:
        В конкурсе могут принимать участие все организации кинематографии Кыргызстана, независимо от форм собственности и продюсеры кинопроектов.

        Кинопроект должен содержать социально-значимую, современную тематику, отвечать общепринятым, гражданским и нравственным идеалам общества, обладать творческим своеобразием и выразительностью, способствовать творческому поиску в киноискусстве талантливой молодежи, содействовать развитию кино, в том числе для детей и юношества.

        Стандартный почтовый запечатанный конверт с пакетом конкурсных документов должен быть представлен в Департамент кинематографии в пяти экземплярахи электронная версияна CD-диске или на электронный адрес goskinokg@mail.ru. Бумажный вариант заявки должен быть идентичен варианту, представленному в электронном виде.

        Заявки, направленные другими способами рассматриваться не будут.

        Присланные на конкурс заявки не рецензируются и не возвращаются.

        Проекты, ранее получившие государственную поддержку в виде субсидий, не могут участвовать в этом конкурсе.
    </p>
    <p>
        Перечень документов и материалов, необходимых для участия в конкурсе:
        - сопроводительное письмо на имя директора Департамента кинематографии;
        - заявка творческого проекта;
        - краткий синопсис фильма, подписанный автором сценария;
        - календарно-постановочный план, подписанный продюсером и режиссером;
        - сценарий фильма;
        - решение художественного совета организациии кинематографии, в случае отсутствия художественного совета, необходимы рецензии, отзывы о сценарии не менее трех кинодраматургов;
        - копии документов, удостоверяющих личность автора сценария, режиссера и продюсера фильма и подтверждающих их принадлежность к гражданству Кыргызской Республики;
        - копии авторских договоров на создание фильма, а также копии авторских договоров о приобретении исключительного права на экранизацию в случае кинематографического использования литературного первоисточника;
        -фильмографиярежиссера,  диплом о профессиональном образовании режиссера и/или режиссер, имеющий  опыт создания высокохудожественных кинопроизведений,  завоевавших призы на МКФ или имевших зрительский  успех;
        - смета расходов в сомах, содержащая общие затраты, покрываемые запрашиваемой суммой и вкладом заявителя;
        - подтверждение источников и планируемых объемов финансирования кинопроекта (копии документов, подтверждающих финансирование производства фильма из внебюджетных источников);
        - документ, подтверждающий полномочия продюсера кинопроекта;
        - основные направления деятельности и опыт работы организации кинематографии и  продюсера кинопроекта;
        - материально-технические и кадровые ресурсы;
        - копии учредительных документов;
        - фильмография продюсера;
        - справка из фискальных органов об исполнении налогоплательщиком обязательств по уплате налогов, сборов, страховых взносов и пеней.
    </p>
