
@{
    ViewData["Title"] = "InfoISRC";
}

    <h1>
        Государственное  регистрационное  удостоверение является доку-
        ментом, подтверждающим право на использование киновидеофильмов, создан-
        ных как в Кыргызской Республике, так и за ее пределами.
    </h1>

<p>

    Государственное  регистрационное  удостоверение является доку-
    ментом, подтверждающим право на использование киновидеофильмов, создан-
    ных как в Кыргызской Республике, так и за ее пределами.
    Для получения  государственного   регистрационного   удостоверения
    собственник или владелец прав проката киновидеофильма представляет:
    - заявление на имя руководителя Компании;
    - документ, подтверждающий право собственности или владения заяви-
    теля на киновидеофильмы;
    - договор, подтверждающий право на прокат киновидеофильмов;
    - соответствующую техническим требованиям копию киновидеофильма;
    - сведения  о метраже кинофильма,  продолжительности показа видео-
    фильма.
    Компания принимает решение о выдаче государственного регистрацион-
    ного удостоверения после обязательного просмотра представленного заяви-
    телем фильма.

</p>