@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="btn text-warning">@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-light" asp-area="ControlPanel" asp-controller="Account" asp-action="Logout">Выйти</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-light" asp-area="ControlPanel" asp-controller="Account" asp-action="Login">Войти</a>
        </li>
    }
</ul>
