@model AisMKIT.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change password";
}

<h1>Редактирование пароля пользователя</h1>
<br />
<h4>Пользователь @Model.Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Users" asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />

            <div class="form-group">
                <label asp-for="NewPassword" class="control-label">Новый пароль</label>
                <input type="text" asp-for="NewPassword" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
