@model AisMKIT.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Edit";
}


<h1>Редактирование пользователя</h1>
<br />
<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Users" asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label><br />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>
