@model AisMKIT.Models.ListOfMedia

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>СМИ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NameRus" class="control-label"></label>
                <input asp-for="NameRus" class="form-control" />
                <span asp-validation-for="NameRus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameKyrg" class="control-label"></label>
                <input asp-for="NameKyrg" class="form-control" />
                <span asp-validation-for="NameKyrg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="INN" class="control-label"></label>
                <input asp-for="INN" class="form-control" />
                <span asp-validation-for="INN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label"></label>
                <input asp-for="RegistrationDate" class="form-control" />
                <span asp-validation-for="RegistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictLangMediaTypeId" class="control-label"></label>
                <select asp-for="DictLangMediaTypeId" class="form-control" asp-items="ViewBag.DictLangMediaTypeId"></select>
                <span asp-validation-for="DictLangMediaTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictMediaTypeId" class="control-label"></label>
                <select asp-for="DictMediaTypeId" class="form-control" asp-items="ViewBag.DictMediaTypeId"></select>
                <span asp-validation-for="DictMediaTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressRus" class="control-label"></label>
                <input asp-for="AddressRus" class="form-control" />
                <span asp-validation-for="AddressRus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressKyrg" class="control-label"></label>
                <input asp-for="AddressKyrg" class="form-control" />
                <span asp-validation-for="AddressKyrg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictDistrictId" class="control-label"></label>
                <select asp-for="DictDistrictId" class="form-control" asp-items="ViewBag.DictDistrictId"></select>
                <span asp-validation-for="DictDistrictId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictMediaFreqReleaseId" class="control-label"></label>
                <select asp-for="DictMediaFreqReleaseId" class="form-control" asp-items="ViewBag.DictMediaFreqReleaseId"></select>
                <span asp-validation-for="DictMediaFreqReleaseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictMediaFinSourceId" class="control-label"></label>
                <select asp-for="DictMediaFinSourceId" class="form-control" asp-items="ViewBag.DictMediaFinSourceId"></select>
                <span asp-validation-for="DictMediaFinSourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReregistrationDate" class="control-label"></label>
                <input asp-for="ReregistrationDate" class="form-control" />
                <span asp-validation-for="ReregistrationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EliminationDate" class="control-label"></label>
                <input asp-for="EliminationDate" class="form-control" />
                <span asp-validation-for="EliminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPermission" class="control-label"></label>
                <input asp-for="NumberOfPermission" class="form-control" />
                <span asp-validation-for="NumberOfPermission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermissionDate" class="control-label"></label>
                <input asp-for="PermissionDate" class="form-control" />
                <span asp-validation-for="PermissionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DictAgencyPermId" class="control-label"></label>
                <select asp-for="DictAgencyPermId" class="form-control" asp-items="ViewBag.DictAgencyPermId"></select>
                <span asp-validation-for="DictAgencyPermId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPay" class="control-label"></label>
                <input asp-for="DateOfPay" class="form-control" />
                <span asp-validation-for="DateOfPay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumOfPermGas" class="control-label"></label>
                <input asp-for="NumOfPermGas" class="form-control" />
                <span asp-validation-for="NumOfPermGas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermGASDate" class="control-label"></label>
                <input asp-for="PermGASDate" class="form-control" />
                <span asp-validation-for="PermGASDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PermElimGASDate" class="control-label"></label>
                <input asp-for="PermElimGASDate" class="form-control" />
                <span asp-validation-for="PermElimGASDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

