@model AisMKIT.Models.ListOfMonument

@{
    ViewData["Title"] = "Create";
}



@*<p>cascade dropdown</p>



@using (Html.BeginForm("GetDicts", "ListOfMonuments", FormMethod.Get))
{
    <table cellspacing="2" cellpadding="2">
        <tr>
            <td>
                Category Type :
            </td>
            <td>
                @Html.DropDownList("CategoryType")
            </td>
        </tr>

        <tr>
            <td>
                Sub Category:
            </td>
            <td>
                @Html.DropDownList("SubCategory",
                    new SelectList(string.Empty,
                         "Value", "Text"),
                    "Please select a Sub Category",
                    new { style = "width:250px" })
            </td>
        </tr>
    </table>
}*@



<br />

<h1>Create</h1>

<h4>ListOfMonument</h4>
<hr />

<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-row p-3 bg-argentum1">
        <div class="form-group col-md-5">
            <label asp-for="NameRus" class="control-label"></label>
            <input asp-for="NameRus" class="form-control" />
            <span asp-validation-for="NameRus" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="NameKyrg" class="control-label"></label>
            <input asp-for="NameKyrg" class="form-control" />
            <span asp-validation-for="NameKyrg" class="text-danger"></span>
        </div>

    </div>
    <div class="form-row p-3 bg-argentum1">

        <div class="form-group col-md-3">
            <label asp-for="DictTypeOfOjbectMonumentId" class="control-label"></label>
            <select asp-for="DictTypeOfOjbectMonumentId" class="form-control" asp-items="ViewBag.DictTypeOfOjbectMonumentId"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="DictTypeOfMonumentId" class="control-label"></label>
            <select asp-for="DictTypeOfMonumentId" class="form-control" asp-items="ViewBag.DictTypeOfMonumentId"></select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DictAffiliationOfMonumentId" class="control-label"></label>
            <select asp-for="DictAffiliationOfMonumentId" class="form-control" asp-items="ViewBag.DictAffiliationOfMonumentId"></select>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DateOfMonument" class="control-label"></label>
            <input asp-for="DateOfMonument" class="form-control" />
            <span asp-validation-for="DateOfMonument" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row p-3 bg-argentum1">
        <div class="form-group col-md-3">
            <label asp-for="DictRegionId" class="control-label"></label>
            <select asp-for="DictRegionId" class="form-control" asp-items="ViewBag.DictRegionId"></select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="DictDistrictId" class="control-label"></label>
            <select asp-for="DictDistrictId" class="form-control" asp-items="ViewBag.DictDistrictId"></select>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

    </div>

    <div class="form-row p-3 bg-argentum1 justify-content-center">
        <input type="submit" value="Добавить" class="btn btn-success" />
        <a asp-action="Index" class="btn btn-outline-light">Назад</a>
    </div>
</form>        




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#DictRegionId").change(function () {

            $("#DictDistrictId").empty();

            $.ajax({

                type: 'POST',

                url: '@Url.Action("GetDicts")',

                dataType: 'json',

                data: { id: $("#DictRegionId").val() },

                success: function (subcategories) {

                    //console.log(subcategories);

                    $.each(subcategories, function (i, subcategory) {

                        $("#DictDistrictId").append('<option value="' + subcategory.value + '">' + subcategory.text + '</option>');

                        //console.log('<option value="' + subcategory.value + '">' + subcategory.text + '</option>');

                    });

                },

                error: function (ex) {

                    console.log('Failed to retrieve Sub Categories : ' + ex);

                }

            });

            return false;

        })

    });
</script>