    <div class="row justify-content-center">


        <div class="card" style="width: 18rem;">
            <img src="~/img/theatre.jpg" class="img-thumbnail" alt="...">
            <div class="card-body justify-content-center">
                <a class="btn btn-primary" asp-area="Theatrical" asp-controller="Main" asp-action="Index">Театрально-зрелищные учреждения</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="~/img/education.png" class="img-thumbnail" alt="...">
            <div class="card-body justify-content-center">
                <a class="btn btn-primary" asp-area="EduInstitutions" asp-controller="Main" asp-action="Index">Учебные заведения</a>
            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <img src="~/img/art.jpg" class="img-thumbnail" alt="...">
            <div class="card-body justify-content-center">
                <a href="#" class="btn btn-primary">Объекты произведений культуры и искусства</a>
            </div>
        </div>




    </div>


