<div class="row justify-content-center">

    <div class="card" style="width: 18rem;">
        <img src="~/img/library.jpg" class="img-thumbnail" alt="...">
        <div class="card-body justify-content-center">
            <a href="#" class="btn btn-primary">Библиотеки</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="~/img/award.jpg" class="img-thumbnail" alt="...">
        <div class="card-body justify-content-center">
            <a href="#" class="btn btn-primary">Государственные и ведомственные награды</a>
        </div>
    </div>

</div>


